@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4"><em>Welcome to the Chocolate Factory</em></h3>
    <img src="~/images/main-bg.png" alt="Chocolate" />
</div>
