@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4"><strong>Welcome to the Chocolate Factory</strong></h3>
    <div style="margin:0 auto"><img src="~/images/main-bg.png" alt="Chocolate" width="90%" height="40%" /></div>
    
</div>
